footer {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    margin-top: auto;
    position: relative;
    padding: 1rem 20%;
    background-image: linear-gradient(to top, rgba(192,192,192,1), rgba(255,255,255,0.9) 90%, rgba(255,255,255,0));
}

.copy-notice {
    text-align: center;
    font-size: 10pt;
    color: rgba(0,0,0,0.5);
}
