footer {
    display: flex;
    align-items: center;
    min-height: 4rem;
    margin-top: auto;
    position: relative;
    padding: 1rem 20%;
    background-color: var(--bg-color);
    background-image: linear-gradient(to top, var(--foot-gradient-color-1), var(--foot-gradient-color-2) 90%, var(--empty-color));
}

.copy-notice {
    text-align: center;
    font-size: 0.8rem;
    color: var(--main-text-color);
    opacity: 0.5;
}
