.proj-button {
    margin-right: 5%;
}

.proj-button button {
    width: 100%;
    height: 100%;
    padding: 0.5rem 2rem;
    font-size: 12pt;
    background-color: #aaaaaa;
    border-radius: 8px;
    font-family: "Averia Serif Libre", Times, serif;
}

.proj-button button:hover {
    opacity: 0.8;
}
