.proj-button {
    margin-right: 5%;
}

.proj-button button {
    transition: .5s ease;
    width: 100%;
    height: 100%;
    padding: 0.5rem 2rem;
    font-size: 12pt;
    background-image: linear-gradient(to bottom right, rgba(192,192,192,1), rgba(128,128,128,1));
    border-radius: 8px;
    font-family: "Averia Serif Libre", Times, serif;
}

.proj-button button:hover {
    opacity: 0.8;
}
