.lang-entry {
    transition: .5s ease;
    position: relative;
    min-width: 8rem;
    padding: 0.5rem;
    margin: 1rem 0rem;
    background-color: var(--empty-color);
    background-image: var(--entry-gradient);
    box-shadow: 4px 4px 4px  var(--entry-full-color);
    border: 1px solid var(--main-accent-color);
    border-radius: 0.5rem;
}

.lang-entry:hover{
    background-color: var(--entry-hover-color);
    box-shadow: 8px 8px 8px  var(--entry-full-color);
}

.lang-entry .lang-text {
    transition: .5s ease;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-text p {
    font-family: "Averia Serif Libre", Times, serif;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: inherit;
    background-image: var(--entry-banner-gradient);
    color: var(--entry-banner-text-color);
    opacity: 1;
}

.lang-entry:hover .lang-text {
    opacity: 1;
}

.lang-entry img {
    transition: .5s ease;
    position: relative;
    display: block;
    height: 8rem;
    opacity: 1;
    margin: auto;
}

.lang-entry:hover img {
    opacity: 0.7;
}
