.proj-entry {
    background-image: var(--entry-gradient);
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    border: 1px solid var(--main-accent-color);
    border-radius: 8px;
}

.proj-entry-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
