.contact-section {
    width: 80%;
    position: relative;
    top: 10svh;
    left: 5%;
}

.contact-info-box {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.contact-entry {
    transition: .5s ease;
    color: var(--main-text-color);
    text-decoration: none;
}

.contact-entry:hover {
    color: var(--sub-accent-color);
    text-decoration: underline;
}

.contact-entry > div {
    transition: 0.5s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25rem 0rem;
    padding: 0.5rem;
    background-color: var(--empty-color);
    background-image: var(--entry-gradient);
    box-shadow: 4px 4px 4px  var(--main-accent-color);
    border: 1px solid var(--main-accent-color);
    border-radius: 0.5rem;
}

.contact-entry > div:hover {
    background-color: var(--entry-hover-color);
    box-shadow: 8px 8px 8px  var(--main-accent-color);
}

.contact-entry > div > img {
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
}
