:root {
    --empty-color: rgba(0,0,0,0);

    --bg-color: rgba(128,128,128,0.1);

    --main-text-color: rgba(0,0,0,1);

    /* Accent colors. Used for shadows, borders, some text. */
    --main-accent-color: rgba(128,128,128,0.5);
    --sub-accent-color: rgba(96,96,96,1);

    /* Header gradient colors. */
    --head-gradient-color-1: rgba(192,192,192,1);
    --head-gradient-color-2: rgba(255,255,255,0.9);

    /* Footer gradient colors. */
    --foot-gradient-color-1: rgba(192,192,192,1);
    --foot-gradient-color-2: rgba(255,255,255,0.9);

    /* Gradient colors for all buttons. */
    --button-border: 2px solid var(--main-accent-color);
    --button-gradient-color-1: rgba(224,224,224,1);
    --button-gradient-color-2: rgba(160,160,160,1);
    --button-gradient: linear-gradient(to bottom right, var(--button-gradient-color-1), var(--button-gradient-color-2));

    /* Gradient colors for all entry-type elements. */
    --entry-full-color: rgba(128,128,128,1);
    --entry-hover-color: rgba(128,128,128,0.2);
    --entry-gradient: linear-gradient(to bottom right, var(--empty-color), var(--entry-full-color));

    /* Gradient colors for the banners for entry-type elements. */
    --entry-banner-color: rgba(96,96,96,1);
    --entry-banner-text-color: rgba(255,255,255,1);
    --entry-banner-gradient: linear-gradient(to right, var(--empty-color), var(--entry-banner-color) 20%, var(--entry-banner-color) 80%, var(--empty-color));
}

/* averia-serif-libre-latin-400-normal */
@font-face {
    font-family: 'Averia Serif Libre';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/averia-serif-libre@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/averia-serif-libre@latest/latin-400-normal.woff) format('woff');
}

/* noto-sans-latin-wght-normal */
@font-face {
  font-family: 'Noto Sans Variable';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
}

#app {
    max-width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--main-text-color);
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Averia Serif Libre", Times, serif;
    margin: 0;
}

h1 {
    font-size: 4rem;
    @media (max-width: 1024px) {
        font-size: 3rem;
    }
}

h2 {
    font-size: 1.8rem;
    @media (max-width: 1024px) {
        font-size: 1.4rem;
    }
}

p {
    font-family: "Noto Sans Variable", Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
}

main {
    margin: 1rem 20%;
}

.page-heading {
    padding-bottom: 1rem;
}

.stylized {
    font-family: "Averia Serif Libre", Times, serif;
}
