/* averia-serif-libre-latin-400-normal */
@font-face {
    font-family: 'Averia Serif Libre';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/averia-serif-libre@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/averia-serif-libre@latest/latin-400-normal.woff) format('woff');
}

/* noto-sans-latin-wght-normal */
@font-face {
  font-family: 'Noto Sans Variable';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
}

#app {
    max-width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Averia Serif Libre", Times, serif;
    margin: 0;
}

h1 {
    font-size: 48pt;
    @media (max-width: 1024px) {
        font-size: 36pt;
    }
}

h2 {
    font-size: 20pt;
    @media (max-width: 1024px) {
        font-size: 16pt;
    }
}

p {
    font-family: "Noto Sans Variable", Arial, sans-serif;
    font-size: 12pt;
    margin: 0;
}

main {
    margin: 1rem 20%;
}
